.m-t-0 {margin-top: 0px;}
.m-t-10 {margin-top: 10px;}
.m-t-20 {margin-top: 20px;}
.m-t-30 {margin-top: 30px;}
.m-t-40 {margin-top: 40px;}
.m-t-50 {margin-top: 50px;}

.m-b-0 {margin-bottom: 0px;}
.m-b-10 {margin-bottom: 10px;}
.m-b-20 {margin-bottom: 20px;}
.m-b-30 {margin-bottom: 30px;}
.m-b-40 {margin-bottom: 40px;}
.m-b-50 {margin-bottom: 50px;}

.anime {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}


.relative {
    position: relative;
}

.comment {
    width: 100%;
    padding: 30px 0px;
    text-align: center;
    color: #444;
}

.clearfix {
    clear: both;
}